@model fbla_app.data.ServiceAward

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ServiceAward</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CommunityId)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CommunityId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ServiceAwardName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ServiceAwardName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.ServiceThreshhold)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.ServiceThreshhold)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
