@model IEnumerable<fbla_app.data.ServiceAward>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommunityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceAwardName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceThreshhold)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommunityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceAwardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceThreshhold)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
